<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Profile</title>
    <link rel="stylesheet" href="/styles.css/">
</head>
<body>
    
    <div class="container" data-th-object="${pet}"> 
        <table>
            <tr>
                <td> 
                    <h1 data-th-text="*{petName}"></h1>
                    <h2 data-th-text="*{species}"></h2>
                    <p> Diet:</p> <p data-th-text="*{diet}"></p>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>